.carousel-image {
  margin-top: 20px;
  width: 100%;
  height: 450px; 
  object-fit: cover; 
}

.category-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.category-info {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Đẩy các phần tử con ra hai bên */
  width: 100%; /* Đảm bảo phần tử sử dụng hết chiều rộng có sẵn */
  margin-bottom: 10px;
}

.card-title-c {
  margin: 0; /* Đặt margin về 0 để tránh khoảng trống không cần thiết */
}

.view-all-link {
  color: blue; /* Thiết lập màu cho link */
  text-decoration: none; /* Loại bỏ gạch chân cho link */
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.book-info {
  padding: 10px;
}

.book-info h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
