.carousel-image {
  margin-top: 20px;
  width: 100%;
  height: 450px; 
  object-fit: cover; 
}

.category-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start instead of center */
  margin-bottom: 20px;
}

.category-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.card-title-c {
  margin: 0;
}

.view-all-link {
  color: blue;
  text-decoration: none;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  height: 400px;
}

.book-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.book-info {
  text-align: center;
}

.book-info h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.book-info p {
  margin: 5px 0;
}

.book-info button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-info button:hover {
  background-color: #333;
}
.link-style {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: black; /* Màu chữ đen */
}
